{% extends "base.html" %}
{% load static %}

{% block tab_title %}
  Doge committees
{% endblock tab_title %}

{#{% block content_title %}#}
{#  Portfolio#}
{#{% endblock content_title %}#}

{% block content %}
{% load humanize %}

<div class="container">

    {% for committee in data %}

      <div class="row pb-md-4">
            Committee timestamp: {{ committee.time_str }}
      </div>



        {% for trader in committee.traders %}

            <div class="row pb-md-4">

                  <div class="col-sm-6">

                      <!-- Trigger the modal with a button -->
                      <button style="background-color:#252830;border: 1px solid gray;" data-toggle="modal" data-target="#modal_{{forloop.counter}}">

                          {% autoescape off %}
                          {{ trader.svg }}
                          {% endautoescape %}

                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="modal_{{forloop.counter}}" role="dialog">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Modal Header</h4>
                            </div>
                            <div class="modal-body" style="background-color:#252830;border: 1px solid gray;">
                              <p>This is a large modal.</p>
                                {% autoescape off %}
                                {{ trader.svg }}
                                {% endautoescape %}
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>





                  </div>

                  <div class="col-sm-6">

                      <div class="container">
                          <div class="row">
                              Mean profit: {{ trader.performance_dict.mean_profit | floatformat:2}}

                          </div>
                          <div class="row">
                              Doge string: <code> {{ trader.doge_str}} </code>

                          </div>
                          <div class="row">
                              Doge rank: {{ trader.performance_dict.rank }}

                          </div>

                          <div class="row">
                              Fitness value: {{ trader.performance_dict.fitness_value }}

                          </div>

                      </div>


                  </div>

            </div>

        {% endfor %}

    {% endfor %}

</div>




{% endblock content %}

{% load static %}
{% block javascript %}
  <script src="{% static '/javascript/allocation.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock javascript %}
